@import '../../scss/utilities/breakpoint-mixin.scss';


.title {
  text-transform: uppercase;
}

.wrapperText {
  position: absolute;
  bottom: 0;
  padding: 40px 30px;  
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  // gap: 20px;

}

.direction {
  text-transform: uppercase;

  position: absolute;
  // bottom: 0;
  // padding: 40px 0px;
  // width: 100%;
  // text-align: center;
}

.button{
  background-color: var(--cl-orange);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-transform: uppercase;
  // position: absolute;
  // bottom: 0;
  // padding: 40px 0px;
  // width: 100%;
  // text-align: center;
}


.wrapper {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  // border-radius: 20px;
}


.image {
  // border-radius: 20px;
  height: 100%;
  width: 100%;
}

.gradient {
  position: absolute;
  bottom: 0;
  // border-radius: 0px 0px 20px 20px;
  width: 100%;
  height: 100%;
  // background: linear-gradient(180deg, rgba(6, 6, 6, 0.00) 0%, rgba(6, 6, 6, 0.87) 86.09%, #060606 100%);
  
  // background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, #000 84.37%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
  // background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
}

.icon {
  width: 56px;
  height: 56px;
  fill: var(--cl-white);
}

.background {
  width: 500px;
}

.wrapperDirection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
