@import '../../scss/utilities/breakpoint-mixin.scss';


.section {

  @include breakpoint('tablet-large-and-up') {
    padding-bottom: 0;
  }
  
  @include breakpoint('desktop') {
    background-color: var(--cl-black);
  }
  
  @include breakpoint('desktop-large') {
    max-width: 1600px;
    background-color: var(--cl-black);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  
  @include breakpoint('tablet-large-and-up') {
    background-color: var(--cl-black);
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @include breakpoint('desktop') {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 36px;
    
  }
  
  @include breakpoint('desktop-large') {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 36px;
  }
}


.link {
  @include breakpoint('desktop') {
    width: 460px;
    height: 420px;
    
  }
  
  @include breakpoint('desktop-large') {
    width: 580px;
    height: 475px;
  }

  & .image {
    @include breakpoint('tablet-large-and-up') {

      transition: filter 1s ease;
      filter: grayscale(1);
    }
  }
  &:hover .image {
    filter: grayscale(0);
  }

  & .background {
    @include breakpoint('tablet-large-and-up') {

      transition: opacity 1s ease;
      opacity: 0;
    }
  }
  &:hover .background {
    opacity: 1;
  }

  & .direction {
    color: var(--cl-orange);
    z-index: 2;
    @include breakpoint('tablet-large-and-up') {
      color: var(--cl-white);
      transition: color 1s ease;
    }
  }
  &:hover .direction {
    color: var(--cl-orange);
  }

  & .text {
    @include breakpoint('tablet-large-and-up') {

      transition: opacity 1s ease;
      opacity: 0;
    }
  }
  &:hover .text {
    opacity: 1;
  }
}

.card {
  position: relative;
  // border-radius: 20px;
}


.image {
  // border-radius: 20px;
  height: 100%;
  width: 100%;

  @include breakpoint('desktop') {
    width: 460px;
    height: 268px;
  }
  
  @include breakpoint('desktop-large') {
    width: 580px;
    height: 338px;
    // height: auto;
  }
}

.gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
  
  @include breakpoint('desktop') {
    height: auto;
  }
  
  @include breakpoint('desktop-large') {
    height: auto;
    // bottom: -120px;
  }
}

.title {
  text-transform: uppercase;
}

.wrapperText {
  position: absolute;
  bottom: 0;
  padding: 40px 30px;  
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  // gap: 20px;

  @include breakpoint('tablet-large-and-up') {
    transform: translateY(100%);
    padding: 0;
  }

  @include breakpoint('desktop') {
    // height: auto;
    bottom: 120px;
  }
  
  @include breakpoint('desktop-large') {
    // height: auto;
    bottom: 126px;
  }

}

.text {
  @include breakpoint('tablet-large-and-up') {
    text-align: left;
  }
}

.wrapperDirection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint('tablet-large-and-up') {
    margin-left: 40px;
  margin-right: auto;
  }
}

.direction {
  text-transform: uppercase;

  position: absolute;


}

.button{
  background-color: var(--cl-orange);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint('tablet-large-and-up') {
    display: none;
  }

  @include breakpoint('desktop') {

  }
  
  @include breakpoint('desktop-large') {

  }

}


.icon {
  width: 56px;
  height: 56px;
  fill: var(--cl-white);
}

.background {
  width: 500px;
  
  @include breakpoint('desktop') {
    width: 330px;
    
  }
  
  @include breakpoint('desktop-large') {
    width: 330px;

  }
}


