@import '../../scss/utilities/breakpoint-mixin.scss';

.button {
  padding: 16px 16px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  outline: none;
  background-color: var(--cl-orange);
  width: 75vw;
  // height: 20vw;



  color: #FFF;
  text-align: center;
  // font-family: Pridi;
  font-size: calc(1em + 2vw);
  font-weight: 700;
  line-height: 1.18; /* 118.75% */
  // text-transform: uppercase;


  @include breakpoint('desktop') {
    width: 600px;
    font-size: 24px;
  }
  
  @include breakpoint('desktop-large') {
    width: 600px;
    font-size: 26px;
  }

}

.primary {
  color: var(--cl-white);
  transition: background-color var(--animat);
}

.primary:hover:not(:disabled) {
  background-color: var(--cl-primary-700);
}

.primary:active:not(:disabled) {
  background-color: var(--cl-primary-800);
}

.primary:focus:not(:disabled) {
  background-color: var(--cl-primary-700);
  outline: 2px solid var(--cl-primary-200);
}

.primary:disabled {
  background-color: var(--cl-gray-100);
  color: var(--cl-gray-50);
  cursor: not-allowed;
}

.secondary {
  background-color: var(--cl-white);
  color: var(--cl-primary-900);
  border: 2px solid var(--cl-primary-600);
  transition: background-color var(--animat), border-color var(--animat);
}

.secondary:hover:not(:disabled),
.secondary:focus:not(:disabled) {
  background-color: var(--cl-primary-50);
  border-color: var(--cl-primary-700);
}

.secondary:active:not(:disabled) {
  background-color: var(--cl-primary-100);
}

.secondary:disabled {
  background-color: var(--cl-white);
  color: var(--cl-gray-50);
  border-color: var(--cl-gray-100);
  cursor: not-allowed;
}

/* Styles for button with icon*/

.container {
  padding: 15px 0px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;

  display: flex;
  align-items: center;
  gap: 16px;

  border-radius: 0;
  border-bottom: 2px solid var(--cl-primary-600);
  background-color: transparent;

  transition: border-color var(--animat);
}

.icon {
  width: 24px;
  height: 24px;
}

.container:hover:not(:disabled),
.container:focus:not(:disabled) {
  border-color: var(--cl-primary-700);
}

.container:active:not(:disabled) {
  border-color: var(--cl-primary-800);
}

.container:disabled {
  color: var(--cl-gray-50);
  border-color: var(--cl-gray-100);
  cursor: not-allowed;
}
