@import '../../scss/utilities/breakpoint-mixin.scss';

.wrapper {
  position: relative;
  z-index: 110;

  & > div {
    right: 20px!important;
    bottom: 20px!important;

    @include breakpoint('tablet-large-and-up') {
      right: 50px!important;
      bottom:50px!important;
    }
  }
}

.btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cl-gray);
  
  &:hover {
    background-color: var(--cl-black-085);
  }
  
  @include breakpoint('tablet-large-and-up') {

    background-color: var(--cl-orange);

    &:hover {
      background-color: var(--cl-gray);
    }
  }
}

.icon {
  width: 36px;
  height: 36px;
  fill: var(--cl-white);
}
