@import '../../scss/utilities/breakpoint-mixin.scss';


.container {
  // position: relative;  
  height: calc(100vh - 100px);
  display: flex;
    justify-content: center;
    align-items: center;


  @include breakpoint('desktop') {
    display: block;
  }
  
  @include breakpoint('desktop-large') {
    display: block;
    // width: 1200px;
    // height: 830px;
  }
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 9vh;
  bottom: 6vh;
  // padding-top: 28vh;
  
  @include breakpoint('desktop') {

  }

  @include breakpoint('desktop-large') {

  }
}

.heading {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  
  @include breakpoint('desktop') {
    width: auto;
    gap: 60px;
  }
  
  @include breakpoint('desktop-large') {
    width: auto;
    gap: 90px;
  }
}

.wrapperSubheading {
  text-align: left;
}

// .wrapperHeading {

// }

.sectionWrapper {
  position: relative;
  height: calc(100vh - 100px);


  @include breakpoint('desktop') {

    height: 700px;
  }

  // width: 1024px;
  @include breakpoint('desktop-large') {
    // width: 1200px;
    height: 830px;
  }
}

.gradient {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(6, 6, 6, 0.00) 0%, rgba(6, 6, 6, 0.87) 86.09%, #060606 100%);

  @include breakpoint('desktop') {

  }

  @include breakpoint('desktop-large') {
    // width: 1200px;
  }
}


.body {
  // position: relative;
}

.slider_body {
  position: relative;
  height: 360px;
}

.content {
  position: absolute;
  left: 16px;
  top: 40px;
  z-index: 1;
}

.image {

  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  right:0;
  bottom:0;
  color:transparent;

  @include breakpoint('desktop') {

  }

  @include breakpoint('desktop-large') {
    width: 1600px;
  }
}



/* Styles for controls */

.controls {
  position: absolute;
  bottom: 44px;
  right: 16px;

  display: flex;
  align-items: center;
  gap: 32px;
  z-index: 1;
}

.prevButton,
.nextButton {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background-color: rgba(255, 248, 249, 0.5);

  cursor: pointer;
}

.prevButton.disabled,
.nextButton.disabled {
  background-color: rgba(236, 236, 236, 0.3);
}

.prevButton.disabled .arrowIcon,
.nextButton.disabled .arrowIcon {
  color: var(--cl-gray-100);
}

.arrowIcon {
  color: var(--cl-primary-500);
  width: 30px;
  height: 30px;
}

/* Styles for dots*/

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.dots > li {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: var(--cl-gray-100);
  position: relative;
}

.dots > li:global(.slick-active) {
  background-color: var(--cl-primary-500);
}

.dots button {
  position: absolute;
  inset: 0;
  border: none;
  background-color: var(--cl-gray-100);
  cursor: pointer;
}

.dots > li:global(.slick-active) button {
  background-color: var(--cl-primary-500);
}

/*Mobile landscape styles */
@media (min-width: 667px) {
  .slider_body {
    height: 400px;
  }
}

/* Mobile landscape and tablet styles*/
@media (min-width: 667px) and (max-width: 1023.98px) {
  .content {
    top: 40px;
    left: 40px;
  }
}

/*Tablet styles */
@media (min-width: 768px) {
  .slider_body {
    height: 500px;
  }

  .controls {
    bottom: 52px;
    right: 24px;
  }
}

/* Laptop styles */
@media (min-width: 1024px) {
  .slider_body {
    height: 600px;
  }

  .content {
    top: 40px;
    left: 16px;
  }
}

/* Desktop styles */
@media (min-width: 1230px) {
  .slider_body {
    height: 650px;
  }

  .content {
    left: 80px;
    top: 80px;
  }

  .controls {
    bottom: 76px;
    right: 40px;
  }

  .dots {
    margin-top: 24px;
  }
}
