@import '../../scss/utilities/breakpoint-mixin.scss';

.section {
  @include breakpoint('tablet-large-and-up') {
    padding: 110px 0 110px 0;
  }
}

.wrapper {
  position: relative;
  background-color: var(--cl-black);
  // height: calc(100vh - 100px);
  
  @include breakpoint('tablet-large-and-up') {
    background-color: var(--cl-white);
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: flex-start; 
    gap: 20px;
  }
  
  @include breakpoint('desktop') {

  }
  
  @include breakpoint('desktop-large') {

  }



}

.wrapperImage {
  position: relative;
  // padding-bottom: 470px;
  // background-color: var(--cl-black);

  @include breakpoint('desktop') {
    display: none;
  }
}

.image {
  @include breakpoint('tablet-large-and-up') {
    width: 360px;
    // width: 720px;
    // height: 538px;
    height: 520px;
  }
}

.list {
  list-style: initial;
  @include breakpoint('tablet-large-and-up') {
    
  }

  position: relative;

  @include breakpoint('desktop') {
    width: 420px;
  }
  
  @include breakpoint('desktop-large') {
    width: 400px;
  }
}


.item {
  display: flex;
  flex-direction: column;
  // gap: 12px;
  // position: relative;
}

.label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1vw 4vw;

  // position: relative;

  cursor: pointer;

  @include breakpoint('tablet-large-and-up')  {
    padding: 0;
    z-index: 1;
    background-color: var(--cl-white);
  }
}

.arrow {
  transition: transform .5s ease-in-out;
}

// .input:checked ~ .label > .arrow {
//   transform: rotate(270deg);
// }

.active {
  transform: rotate(270deg);
  transition: transform .5s ease-in-out;

  @include breakpoint('tablet-large-and-up') {

    transform: rotate(180deg);
  }
  

}

.input {
}

.text {

}

.wrapperText {
  padding: 2vw 6vw;
  background-color: var(--cl-white);
  @include breakpoint('tablet-large-and-up'){
    padding: 0;
  }

}


.description {

  overflow: hidden;
  transition: height .50s ease-in-out;
  
  background-color: var(--cl-white);
  width: 100%;
  pointer-events: none;
  
  
  @include breakpoint('tablet-large-and-up'){
    position: absolute;
    top:10px;
    left: 0;
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease;
    transform: translateX(0);
    // height: auto;
  }

}


.visible {
  overflow: hidden;
  transition: height 0.5s ease-in-out;

  @include breakpoint('tablet-large-and-up') {
    // left: 400px;
    transition: transform 500ms ease-in-out, opacity 500ms ease;
    transform: translateX(100%);
    opacity: 1;

  }
}






.icon {
  width: 8px;
  height: 8px;
  fill: var(--cl-white)
}

.hading {
  text-align: center;
  color: var(--cl-white);
  @include breakpoint('tablet-large-and-up') {
    color: var(--cl-black);
    text-align: left;
    padding: 12px;
  }
}

.tag {
  // text-transform: uppercase;
  font-weight: 500;
  line-height: 2.4;
  color: var(--cl-white);
  @include breakpoint('tablet-large-and-up') {
    color: var(--cl-black);
    font-size: 26px;
    line-height: 2.2;
  }
}


.gradient {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  // background: linear-gradient(180deg, rgba(6, 6, 6, 0.00) 0%, rgba(6, 6, 6, 0.87) 86.09%, #060606 100%);
  // background: linear-gradient(180deg, #000 7.26%, rgba(217, 217, 217, 0.00) 107.26%);
  background: linear-gradient(0deg, #000 7.26%, rgba(217, 217, 217, 0.00) 64.96%, rgba(217, 217, 217, 0.00) 100%);
  mix-blend-mode: multiply;

}


.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
