@import '../../scss/utilities/breakpoint-mixin.scss';

.item {
  display: flex;
  flex-direction: column;
  // gap: 12px;
  position: relative;
}

.label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1vw 4vw;

  position: relative;
}

.arrow {
  transition: transform .5s ease-in-out;
}

.input:checked ~ .label > .arrow {
  transform: rotate(270deg);
}

.input {
}

.text {
}

.wrapperText {
  padding: 2vw 6vw;
}

.input:checked ~ .description { 
  transition: max-height .50s ease-in-out;
  max-height: 100vh;
}

.description {

  max-height: 0;
  overflow: hidden;
  transition: max-height .50s ease-in-out;

  background-color: var(--cl-white);
  width: 100%;

  /*Desktop styles (from 1230px and above)*/
  @include breakpoint('desktop-large') {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
  }
}



.wrapper {
  position: relative;
  background-color: var(--cl-black);
  // height: calc(100vh - 100px);
}

.wrapperImage {
  position: relative;
  // padding-bottom: 470px;
  // background-color: var(--cl-black);
}

.image {
}

.list {
  list-style: initial;
}



.icon {
  width: 8px;
  height: 8px;
  fill: var(--cl-white)
}

.hading {
  text-align: center;
}

.tag {
  text-transform: uppercase;
  line-height: 2.4;
}


.gradient {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  // background: linear-gradient(180deg, rgba(6, 6, 6, 0.00) 0%, rgba(6, 6, 6, 0.87) 86.09%, #060606 100%);
  // background: linear-gradient(180deg, #000 7.26%, rgba(217, 217, 217, 0.00) 107.26%);
  background: linear-gradient(0deg, #000 7.26%, rgba(217, 217, 217, 0.00) 64.96%, rgba(217, 217, 217, 0.00) 100%);
  mix-blend-mode: multiply;

}


.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
