@import '../../scss/utilities/breakpoint-mixin.scss';

.wrapper {
  @include breakpoint('tablet-large-and-up') {

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 50px;
    
  }
}

.wrapperList {
  position: relative;
  @include breakpoint('tablet-large-and-up') {
    
  }
  @include breakpoint('desktop') {
    width: 480px;
  }
  
  @include breakpoint('desktop-large') {
    width: 520px;
  }
}

.gif {
  display: none;
  @include breakpoint('tablet-large-and-up') {
    display: block;
  }
  @include breakpoint('desktop') {
    width: 480px;
    height: 360px;
  }
  
  @include breakpoint('desktop-large') {
    width: 640px;
    height: 480px;
  }
}

.wrapperArrows {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  display: flex;
  gap: 72vw;
  
  @include breakpoint('tablet-large-and-up') {
    
  }
  
  @include breakpoint('desktop') {
    
    gap: 400px;
  }
  
  @include breakpoint('desktop-large') {
    gap: 480px;

  }
}

.list {
  // position: relative;
  display: block;
  padding: 12vw 8vw;

  @include breakpoint('tablet-large-and-up') {
    padding: 10px;
    
  }
  
  @include breakpoint('desktop') {
    
  }
  
  @include breakpoint('desktop-large') {
    
  }
}

.item {
  // display: flex;
  // gap: 8vw;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  padding: 4vw 8vw;
  // width: 70vw;
  
  @include breakpoint('tablet-large-and-up') {
    padding: 0;
    
  }
  
  @include breakpoint('desktop') {
    // width: 386px;
    
  }
  
  @include breakpoint('desktop-large') {
    width: 386px;

  }
}

.title {
  text-transform: uppercase;
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: inherit;
}

.icon {
  width: 40px;
  height: 40px;
  fill: var(--cl-black);
}

.num {
  color: #000;
  // font-family: Pridi;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 2vw;
  
  & span {
    font-size: 24px;
  }
  
  @include breakpoint('desktop') {
    margin-top: 4px;
    margin-bottom: 36px;
  }
  
  @include breakpoint('desktop-large') {
    margin-top: 4px;
    margin-bottom: 36px;

  }
}

.text {
  @include breakpoint('tablet-large-and-up') {
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint('desktop') {
    
    width: 380px;
  }
  
  @include breakpoint('desktop-large') {

    width: 388px;

  }
}

.dots {
  position: absolute;
  bottom: -8vw;
  left: 50%;
  transform: translate(-50%, -50%);;
  color: #E67136;
  fill: #E67136;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  
  @include breakpoint('tablet-large-and-up') {
    bottom: -30px;
  }
}

.dots > li {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: var(--cl-gray-100);
  position: relative;
}

.dots > li:global(.slick-active) > div {
  background-color: var(--cl-light-gray);
}

.dots button {
  position: absolute;
  inset: 0;
  border: none;
  background-color: var(--cl-gray-100);
  cursor: pointer;
}

.dots > li:global(.slick-active) button {
  background-color: var(--cl-primary-500);
}

.paging {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: var(--cl-light-gray);
  border: 1px var(--cl-light-gray) solid
}


