@import '../../scss/utilities/breakpoint-mixin.scss';

.container {

  display: flex;
  flex-direction: column;

  @include breakpoint('tablet-large-and-up') {

  }
}

.wrapperSlider {
  margin: 10vw 6vw 14vw 6vw;

  @include breakpoint('tablet-large-and-up') {
    margin: 50px 0 50px 0;
  }
}

.wrapper {
  @include breakpoint('tablet-large-and-up') {
    // width: 340px;
    // padding: 0 20px;
    // margin: 0 12px;
  }
}

.card {
  padding: 4vw;
  border: rgba(0, 0, 0, 0.05) solid 1px;
  
  @include breakpoint('tablet-large-and-up') {
    // width: 340px;
    padding: 26px 20px;
    margin: 0 12px;

  }
  
  @include breakpoint('desktop') {

  }
  
  @include breakpoint('desktop-large') {

  }
}



.list {
  display: flex;
  gap: 32px;


}

.title {
  text-transform: uppercase;
}

.image {
  width: 60px;
  height: 60px;
}

.link {
  background-color: var(--cl-orange);
  color: var(--cl-white);
  padding: 2vw 4vw;

  @include breakpoint('tablet-large-and-up') {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 135px;
    height: 52px;
    padding: 0;
  }
  
  @include breakpoint('desktop') {

  }
  
  @include breakpoint('desktop-large') {

  }
}

.header {
  display: flex;
  gap: 4vw;
  margin-bottom: 2vw;
  @include breakpoint('tablet-large-and-up') {
    gap: 24px;
    margin-bottom: 24px;
  }
}

.description {
  margin-bottom: 4vw;
  
  @include breakpoint('tablet-large-and-up') {
    margin-bottom: 24px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

.icon {
  fill: #E67136;
}

.quote {
  width: 6vw;
  height: 6vw;

  @include breakpoint('tablet-large-and-up') {
    width: 48px;
    height: 48px;

  }
}

// 
// 

.dots {
  position: absolute;
  bottom: -8vw;
  left: 50%;
  transform: translate(-50%, -50%);;
  color: #E67136;
  fill: #E67136;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include breakpoint('tablet-large-and-up') {
    bottom: -20px;
  }
}

.dots > li {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: var(--cl-gray-100);
  position: relative;
}

.dots > li:global(.slick-active) > div {
  background-color: var(--cl-light-gray);
}

.dots button {
  position: absolute;
  inset: 0;
  border: none;
  background-color: var(--cl-gray-100);
  cursor: pointer;
}

.dots > li:global(.slick-active) button {
  background-color: var(--cl-primary-500);
}

.paging {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: var(--cl-light-gray);
  border: 1px var(--cl-light-gray) solid
  
}

.btn {
  margin-left: auto;
  margin-right: auto;
}

