@import '../../scss/utilities/breakpoint-mixin.scss';


.wrapper {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cl-orange);
  
  @include breakpoint('tablet-large-and-up') {
    height: 80px;
  }
}
