@import '../../scss/utilities/breakpoint-mixin.scss';

.list {
  display: flex;
  // gap: 60px;
  width: 72vw;
  justify-content: space-between;

  @include breakpoint('tablet-large-and-up') {
    width: auto;
    gap: 24px;
  }
  
  @include breakpoint('desktop') {

  }
  
  @include breakpoint('desktop-large') {

  }

}

.item {
  background-color: var(--cl-white);
  // color: inherit;
  // width: 60px;
  // height: 60px;
  border-radius: 60px;

  @include breakpoint('tablet-large-and-up') {

  }
  
  @include breakpoint('desktop') {

  }
  
  @include breakpoint('desktop-large') {

  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  // background-color: var(--cl-orange);
  width: 12vw;
  height: 12vw;
  // border-radius: 60px;
  @include breakpoint('tablet-large-and-up') {
    width: 48px;
    height: 48px;
  }
  
  @include breakpoint('desktop') {

  }
  
  @include breakpoint('desktop-large') {

  }
}

.link svg {
  fill: inherit;
  width: 8vw;
  height: 8vw;
  @include breakpoint('tablet-large-and-up') {
    fill: var(--cl-black);
    width: 40px;
    height: 40px;
  }
}