@import '../../scss/utilities/breakpoint-mixin.scss';

.section {
  @include breakpoint('tablet-large-and-up'){
    padding-top: 110px;
  }
}

.container { 
  @include breakpoint('tablet-large-and-up') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.wrapperTitle {
  background-color: var(--cl-white);

  @include breakpoint('tablet-large-and-up') {
    display: none;
  }
}

.wrapperList {
  @include breakpoint('tablet-large-and-up') {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border-left: 2px var(--cl-black) solid;
  }
}

.arrow {
  position: absolute;
  left: -92px;
  top: 46px;
  width: 100px;
  height: 100px;

  
  @include breakpoint('desktop') {
    left: -54px;
    top: 38px;
    width: 60px;
    height: 60px;
  }
  
  @include breakpoint('desktop-large') {

  }

}

.subheading {
  display: none;
  @include breakpoint('tablet-large-and-up') {
    display: block;
  }
  font-size: 40px;
  text-transform: uppercase;

  
  @include breakpoint('desktop') {
    font-size: 30px;
  }
  
  @include breakpoint('desktop-large') {

  }
}

.image {
  @include breakpoint('tablet-large-and-up') {
    // width: 856px;
    width: 720px;
    // height: 640px;
    height: 538px;
  }
  
  @include breakpoint('desktop') {
    width: 460px;
    height: 344px;
  }
  
  @include breakpoint('desktop-large') {
    width: 720px;
    height: 538px;
  }
}

.list {
  // display: flex;
  // gap: 24px;
  // padding: 45px 0;
  padding-bottom: 12vw;

  @include breakpoint('tablet-large-and-up') {
    border-left: 2px var(--cl-black) solid;
  }

  @include breakpoint('desktop') {
    width: 460px;
    padding: 0;
  }
  
  @include breakpoint('desktop-large') {
    width: 360px;
    padding: 0;
    
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {

}

.name {
  margin-bottom: 4vw;
  background-color: var(--cl-black);
  padding: 4vw 14vw;
  color: var(--cl-white);

  @include breakpoint('tablet-large-and-up') {
    background-color: var(--cl-white);
    color: var(--cl-black);
    text-transform: uppercase;
    border-left: 4px var(--cl-black) solid;

  }
  
  @include breakpoint('desktop') {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 0 0 20px;
  }
  
  @include breakpoint('desktop-large') {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 0 0 24px;
  }
}

.wrapperIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 2vw;
  height: 2.5vw;
  fill: var(--cl-black);
  padding-bottom: .5vw;

  @include breakpoint('tablet-large-and-up') {
    display: none;
  }


}

.wrapperText {
  display: flex;
  align-items: baseline;
  gap: 2vw;
  padding: 0 8vw;

  @include breakpoint('desktop') {
    padding: 0;
  }
  
  @include breakpoint('desktop-large') {
    padding: 0;
  }
}

// .text{

// }

