@import '../../scss/utilities/breakpoint-mixin.scss';

.wrapper {
  width: 600px;
  height: 600px;
  color: var(--cl-white);
  background-color: var(--cl-black);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
}

.input {
  padding: 10px 14px;
  font-size: 24px;

}

.btn {

  padding: 10px 14px;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  outline: none;
  background-color: var(--cl-orange);

  color: var(--cl-white);
  text-align: center;
  // font-family: Pridi;
  // font-size: calc(1em + 2vw);
  // font-weight: 700;
  // line-height: 1.18;
  // text-transform: uppercase;
  
  transition: background-color var(--animat);

    @include breakpoint('desktop') {
      width: 460px;
      font-size: 24px;
    }
    
    @include breakpoint('desktop-large') {
      width: 460px;
      font-size: 26px;
    }

  
}

.primary {
}

.primary:hover:not(:disabled) {
  background-color: var(--cl-primary-700);
}

.primary:active:not(:disabled) {
  background-color: var(--cl-primary-800);
}

.primary:focus:not(:disabled) {
  background-color: var(--cl-primary-700);
  outline: 2px solid var(--cl-primary-200);
}

.primary:disabled {
  background-color: var(--cl-gray-100);
  color: var(--cl-gray-50);
  cursor: not-allowed;
}