@import '../../scss/utilities/breakpoint-mixin.scss';

.link {
  display: flex;
  align-items: center;

  font-size: 18px;
  font-weight: 700;
  line-height: normal;

  fill: var(--cl-orange);
  color: var(--cl-orange);
  &:hover {
    fill: var(--cl-white);
    color: var(--cl-white);
  }
}

.icon {
  width: 24px;
  height: 24px; 
}

.text {
  color: inherit;
  // font-size: calc(0.5em + 2vw);
  // font-weight: 400;
  
  @include breakpoint('tablet-large-and-up') {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}