@import '../../scss/utilities/breakpoint-mixin.scss';


.sectionContainer {
  /* padding-bottom: 56px; */

  @include breakpoint('tablet-large-and-up') {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
  |==============================
  | Desktop styles (from 1230px and above)
  |==============================
*/
@media (min-width: 1230px) {
  .sectionContainer {
    padding-bottom: 104px;
  }



}

