@import '../../scss/utilities/breakpoint-mixin.scss';

.footer {
  // padding-top: 24px;
  // padding-bottom: 24px;
  text-align: center;
  background-color: var(--cl-orange);
  
  @include breakpoint('desktop-large') {
    border-top: 34px solid var(--cl-orange);
    background-color: var(--cl-black);
    // padding-top: 40px;
  }
}

.wrapperFooter {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  
  @include breakpoint('tablet-large-and-up') {
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  @include breakpoint('desktop') {
    margin: 60px 0;
  }
  
  @include breakpoint('desktop-large') {
    margin: 80px 0;

  }
}

.wrapperContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 4vw 0;
  margin: 4vw 0;
  @include breakpoint('desktop') {
    // margin: 36px 0;
    margin: 0;
    gap: 24px;
  }
  
  @include breakpoint('desktop-large') {
    // margin: 46px 0;
    margin: 0;
    gap: 32px;
  }

}

.map {
  width: 100vw;
  height: 60vw;

  @include breakpoint('desktop-large') {
    width: 737px;
    height: 375px;
  }
}

.number {
  font-size: 24px;

  & > svg {
    width: 30px;
    height: 30px;
  }

  @include breakpoint('all-devices-without-desktop') {
    display: none;
  }
}

.logo {
  @include breakpoint('all-devices-without-desktop') {
    display: none;
  }

  @include breakpoint('desktop') {
    // margin-bottom: 46px;
  }
  
  @include breakpoint('desktop-large') {
    // margin-bottom: 52px;
  }
}

.rights {
  padding: 4vw 0;

  @include breakpoint('tablet-large-and-up') {
    padding: 24px 0;
  }
}


.social {
  fill: var(--cl-orange);
  margin-top: 6vw;

  @include breakpoint('tablet-large-and-up') {
    margin: 0;
  }
  &> li:hover {
    background-color: var(--cl-orange);
  }
}

.address {
  color: var(--cl-white);
  &:hover {
    color: var(--cl-orange);
  }
}
