@import '../../scss/utilities/breakpoint-mixin.scss';

.section {
  @include breakpoint('tablet-large-and-up') {
    display: none;
  }
}

.list {
  display: flex;
  gap: 32px;
}

.title {
  text-transform: uppercase;
}
